body {
  color: #0c2546;
  height: 100%;
  text-align: center;
  background-color: #f0e68c;
  font-family: Arial, Helvetica, sans-serif;
}

main input {
  border: 4px solid #87ceeb;
  background-color: #d0f2ff;
  font-size: 2em;
  color: #0c2546;
  border-radius: 7px;
  width: 80%;
}

main h1, main h2 {
  background-color: #87ceeb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 main h2 {
  position: relative;
  border-radius: 7px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

#wrapper {
  position: absolute;
  
  width: 80%;
  border-radius: 7px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 10px 3px rgb(29, 45, 54);
}

@media only screen and (min-width: 767px) {
  main h2 {
    width: 60%;
  }
}